<div class="component-admin-try">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <div class="admin-heading" *ngIf="!eventId">
                Create Event
            </div>
            <div class="admin-heading" *ngIf="eventId">
                Edit Event
            </div>
            <div>
                <button class="btn btn-default" (click)="goBack()"><i class="material-icons align-text-bottom">
                    arrow_back
                </i> <span>Back</span></button>
            </div>
        </div>
    </div>
    <form [formGroup]="form" novalidate>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <label>Event Title <span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Event Title" [(ngModel)]="event.title"
                                   formControlName="title" name="title"/>
                            <div *ngIf="form.controls.title.invalid && (form.controls.title.dirty || form.controls.title.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.title.errors.required">
                                    Event Title is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Status</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div>
                                <mat-radio-group [(ngModel)]="event.status" formControlName="status" name="status">
                                    <mat-radio-button [value]="1">Enable</mat-radio-button>
                                    <mat-radio-button [value]="2">Disable</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                        <label>Connect Point Policy</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <ng-select [items]="points" [(ngModel)]="point_policy" bindLabel="name"
                                       formControlName="point_policy_id" name="point_policy_id" [virtualScroll]="true" (change)="onChangePoint($event)">
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                    <span>{{ item.name }}</span>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Add Point</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="event.add_point"
                                   formControlName="add_point" name="add_point" [readonly]="readonly"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Minus Point</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="event.minus_point"
                                   formControlName="minus_point" name="minus_point" [readonly]="readonly"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Apply Members</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div>
                                <mat-checkbox [disabled]="readonly" [(ngModel)]="event.level_1" formControlName="level_1" name="level_1" value="1" style="margin-right: 10px">Member</mat-checkbox>
                                <mat-checkbox [disabled]="readonly" [(ngModel)]="event.level_2" formControlName="level_2" name="level_2" value="1" style="margin-right: 10px">Silver</mat-checkbox>
                                <mat-checkbox [disabled]="readonly" [(ngModel)]="event.level_3" formControlName="level_3" name="level_3" value="1" style="margin-right: 10px">Gold</mat-checkbox>
                                <mat-checkbox [disabled]="readonly" [(ngModel)]="event.level_4" formControlName="level_4" name="level_4" value="1" style="margin-right: 10px">Platinum</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                        <label>Point payment method</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <mat-radio-group class="radio-group radio-group-type" [(ngModel)]="event.payment_method"
                                             formControlName="payment_method" name="payment_method">
                                <mat-radio-button class="radio-button" [value]="1">Immediately</mat-radio-button>
                                <mat-radio-button class="radio-button" [value]="2">All members</mat-radio-button>
                                <mat-radio-button class="radio-button" [value]="3">Selected Members</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Max winner People</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter join max count"
                                   [(ngModel)]="event.max_winner"
                                   formControlName="max_winner" name="max_winner"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Event Join Type</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <mat-radio-group class="radio-group radio-group-type" [(ngModel)]="event.type"
                                             formControlName="type" name="type">
                                <mat-radio-button class="radio-button" [value]="1">Join</mat-radio-button>
                                <mat-radio-button class="radio-button" [value]="2">Answer</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Start Date <span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="calendar-control">
                                <mat-datepicker-toggle [for]="start_date"
                                                       matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #start_date type="datetime" openOnFocus="true"
                                                timeInterval="5"></mat-datepicker>
                                <input matInput class="form-control" formControlName="start_date"
                                       [(ngModel)]="event.start_date"
                                       [matDatepicker]="start_date" required autocomplete="false"
                                       [max]="event.end_date">
                            </div>
                            <div *ngIf="form.controls.start_date.invalid && (form.controls.start_date.dirty || form.controls.start_date.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.start_date.errors.required">
                                    Start Date is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>End Date <span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="calendar-control">
                                <mat-datepicker-toggle [for]="end_date"
                                                       matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #end_date type="datetime" openOnFocus="true"
                                                timeInterval="5"></mat-datepicker>
                                <input matInput class="form-control" formControlName="end_date"
                                       [(ngModel)]="event.end_date"
                                       [matDatepicker]="end_date" required autocomplete="false"
                                       [min]="event.start_date">
                            </div>
                            <div *ngIf="form.controls.end_date.invalid && (form.controls.end_date.dirty || form.controls.end_date.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.end_date.errors.required">
                                    End Date is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Banner image <span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <app-admin-resource #resource [needToCrop]="false"
                                                [resource]="{ url: event.banner_image, resource_type: event.resource_type }"
                                                [resizeToWidth]="670" [aspectRatio]="67 / 47"></app-admin-resource>
                            <div *ngIf="isSubmitted && invalidMainImage"
                                 class="text-danger">
                                Banner image is require
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Image Description</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <app-admin-multiple-images #resourceImgDesc
                                                       [needToCrop]="false"
                                                       [maxImage]="1"
                                                [images]="{ data: event.desc_img }"
                                                [resizeToWidth]="720" [aspectRatio]="1 / 1"></app-admin-multiple-images>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Winner’s Images Description</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <app-admin-multiple-images #images [images]="{ data: event.winner_image}"
                                                       [resizeToWidth]="720" [aspectRatio]="1 / 1"></app-admin-multiple-images>
                        </div>
                    </div>
                </div>

                
                <div class="row">
                    <div class="col-md-3">
                        <label>Text Content  <span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <ck-editor [(ngModel)]="event.content" skin="moono-lisa" language="en" [fullPage]="true"
                                       formControlName="content" name="content"></ck-editor>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Using Comment field</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div>
                                <mat-checkbox [(ngModel)]="event.comment_field" formControlName="comment_field" name="comment_field" value="1" style="margin-right: 10px">Using Comment field</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions d-flex justify-content-end col-md-8">
            <button class="btn btn-default mr-1" (click)="goBack()">
                <i class="material-icons align-text-bottom">
                    cancel
                </i> <span> {{ "cancel" | translate }}</span>
            </button>
            <button class="btn btn-primary mr-1" [disabled]="!form.valid"
                    (click)="onSave()">
                <i class="material-icons align-text-bottom">
                    save
                </i> <span> {{ "save" | translate }}</span>
            </button>
        </div>
    </form>
</div>
