<div class="component-admin-brand">
    <div class="row">
        <div class="col">
            <div class="admin-heading">Voucher Image</div>
        </div>
        <div class="col">
            <button class="btn btn-primary float-right" routerLink="/admin/voucher-images-create">
                <i class="material-icons align-text-bottom">
                    add
                </i> <span>Add</span>
            </button>
        </div>
    </div>

    <mat-card class="search-control">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Vouchers name " [(ngModel)]="filter.partner_name">
                    </mat-form-field>
                </div>
                <div>
                    <button class="btn btn-primary mr-1" (click)="onSearch()"><i
                            class="material-icons align-text-bottom">
                            search
                        </i> <span>Search</span></button>
                    <button class="btn btn-default" (click)="onReset()"><i class="material-icons align-text-bottom">
                            replay
                        </i> <span>Reset</span></button>
                </div>
            </div>
        </div>
    </mat-card>

    <ngx-datatable #myTable class="material" [rows]="vouchers" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'" [count]="vouchers.length" [limit]="10">
        <ngx-datatable-column name="Partner Name" prop="partner_name"></ngx-datatable-column>
        <ngx-datatable-column name="Zip Name" prop="zip_name"></ngx-datatable-column>
        <ngx-datatable-column name="Category" prop="code_group">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.code_group == 407">Beauty</span>
                <span *ngIf="row.code_group == 412">Fashion</span>
                <span *ngIf="row.code_group == 420">Food</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Download Date" prop="created_at"></ngx-datatable-column>
        <!-- <ngx-datatable-column [width]="150" name="Action" [sortable]="false" class="action-column" headerClass="action" [canAutoResize]="false" [resizeable]="false">
            <ngx-datatable-column name="Action" [sortable]="false" [maxWidth]="100" [headerClass]="'text-center'" [cellClass]="'text-center'">>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button [matMenuTriggerFor]="userActions">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #userActions="matMenu">
                        <button mat-menu-item (click)="editBrand(row)" class="datatable-action-button">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item [swal]="deleteSwal" (confirm)="onDelete(row)" class="datatable-action-button">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable-column> -->
    </ngx-datatable>
</div>

<swal #deleteSwal text="Are you sure to delete vouchers?" type="question" [showCancelButton]="true"
    [focusCancel]="true"></swal>