<div class="component-admin-try">
    <div class="row">
        <div class="col">
            <div class="admin-heading">
                Event List 
                <span *ngIf="!closed">(On Going)</span>
                <span *ngIf="closed">(Closed)</span>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-primary float-right" routerLink="/admin/event/add">
                <i class="material-icons align-text-bottom">
                    add
                </i> <span>Add</span>
            </button>
        </div>
    </div>
    <mat-card class="search-control">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>Event Name</label>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="" [(ngModel)]="filter.name">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Event Type</label>
                    <div>
                        <mat-checkbox [(ngModel)]="filter.join" value="1">Join </mat-checkbox>
                        <mat-checkbox [(ngModel)]="filter.answer" value="1">Answer</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-2" *ngIf="!closed">
                <div class="form-group">
                    <label>Status</label>
                    <div>
                        <mat-checkbox [(ngModel)]="filter.ready" value="1">Ready </mat-checkbox>
                        <mat-checkbox [(ngModel)]="filter.enable" value="1">Enable</mat-checkbox>
                        <mat-checkbox [(ngModel)]="filter.disable" value="1">Disable</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Period</label>
                    <div>
                        <mat-form-field class="half-width">
                            <input matInput [matDatepicker]="from" placeholder="From" [(ngModel)]="filter.from"
                                   [max]="filter.to">
                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                            <mat-datepicker #from></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="half-width">
                            <input matInput [matDatepicker]="to" placeholder="To" [(ngModel)]="filter.to"
                                   [min]="filter.from">
                            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                            <mat-datepicker #to></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div >
                    <button class="btn btn-primary mr-1" (click)="onSearch()"><i class="material-icons align-text-bottom">
                        search
                    </i> <span>Search</span></button>
                    <button class="btn btn-default mr-1" (click)="onReset()"><i class="material-icons align-text-bottom">
                        replay
                    </i> <span>Reset</span></button>
                </div>
            </div>
            
        </div>
    </mat-card>
    <mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="On Going Event"></mat-tab>
        <mat-tab label="Closed Event"></mat-tab>
    </mat-tab-group>
    <div class="multi-action" *ngIf="selected.length > 0">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary mr-1" [swal]="disableSwal" *ngIf="showDeactivate" (confirm)="onToggleMulti(true)">
                <i class="material-icons align-text-bottom">
                    visibility_off
                </i> <span> Disable</span>
            </button>
            <button class="btn btn-primary mr-1" [swal]="enableSwal" *ngIf="showActive" (confirm)="onToggleMulti(false)">
                <i class="material-icons align-text-bottom">
                    visibility
                </i> <span> Enable</span>
            </button>
            <button class="btn btn-default mr-1" [swal]="deleteSwal" *ngIf="showDelete" (confirm)="onDeleteMulti()">
                <i class="material-icons align-text-bottom">
                    delete
                </i> <span>Delete</span>
            </button>
        </div>
    </div>

    <ngx-datatable #myTable class="material" [rows]="points" [columnMode]="'force'" [headerHeight]="50"
                   [footerHeight]="50"
                   [count]="total" [offset]="pageIndex-1" [limit]="pageSize" [externalPaging]="true"
                   (page)='setPage($event)'
                   [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
                   [selected]="selected"
                   [externalSorting]="true" (sort)="onSort($event)" [rowHeight]="'auto'">
        <ngx-datatable-column name="No" prop="id" [sortable]="false" [canAutoResize]="false" [resizeable]="false" [width]="50" ></ngx-datatable-column>
        <ngx-datatable-column name="Event name" prop="title" [resizeable]="false"></ngx-datatable-column>
        <ngx-datatable-column name="Event Type" [sortable]="false" prop="status" [resizeable]="false" [width]="100">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.type == 1">Join</span>
                <span *ngIf="row.type == 2">Answer</span>

            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Banner Image" [sortable]="false" prop="add_point" [headerClass]="'text-center'" [cellClass]="'text-center'" [canAutoResize]="false" [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <img class="img"
                     [src]="row.path ? env.rootHost + row.path + '/' + row.url : 'https://via.placeholder.com/100'" />
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Membership" [sortable]="false" prop="minus_point" [headerClass]="'text-center'" [cellClass]="'text-center'" [canAutoResize]="false" [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.level}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Members/comments" [sortable]="false" [headerClass]="'text-center'" [cellClass]="'text-center'" [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template >
                {{row.member}}/{{row.comment}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [sortable]="false" prop="status" [resizeable]="false" [width]="100">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.status == 1">Ready</span>
                <span *ngIf="row.status == 2">Enable</span>
                <span *ngIf="row.status == 3">Disable</span>
                <span *ngIf="row.status == 4">Closed</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Event Period" prop="start_date" [resizeable]="false" [width]="80" [headerClass]="'text-center'" [cellClass]="'text-center'">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{ row.start_date | date : 'yyyy/MM/dd' }} - {{ row.end_date | date : 'yyyy/MM/dd' }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [sortable]="false" [maxWidth]="100" [headerClass]="'text-center'" [cellClass]="'text-center'">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button [matMenuTriggerFor]="userActions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #userActions="matMenu">
                    <button mat-menu-item [routerLink]="['/admin/event/edit', row.id]" class="datatable-action-button">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item [swal]="disableSwal"
                            *ngIf="row.status == 1" (confirm)="onToggle([row], 2)" class="datatable-action-button">
                        <mat-icon>visibility_off</mat-icon>
                        <span>Disable</span>
                    </button>
                    <button mat-menu-item [swal]="enableSwal"
                            *ngIf="row.status == 2" (confirm)="onToggle([row], 1)" class="datatable-action-button">
                        <mat-icon>visibility</mat-icon>
                        <span>Enable</span>
                    </button>
                </mat-menu>
            </ng-template>
        </ngx-datatable-column>
        
        
    </ngx-datatable>
    <select (change)="changePageLimit($event.target.value)" class="page-limit">
        <option
          *ngFor="let option of pageLimitOptions"
          [value]="option.value"
          [selected]="option.value == pageSize"
        >
          {{option.value}} per page
        </option>
      </select>
  
</div>

<swal #enableSwal text="Are you sure to enable point policy?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
<swal #disableSwal text="Are you sure to disable point policy?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
<swal #deleteSwal text="Are you sure to delete point policy?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
