<div class="component-admin-review component-admin-try">
    <select (change)="changePageLimit($event.target.value)" class="page-limit">
      <option
        *ngFor="let option of pageLimitOptions"
        [value]="option.value"
        [selected]="option.value == pageSize"
      >
        {{option.value}} per page
      </option>
    </select>
    <div class="row">
        <div class="col-12">
            <div class="admin-heading">
                {{ 'reviews' | translate }}
            </div>
        </div>
    </div>
    <mat-card class="search-control">
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label>Title</label>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="" [(ngModel)]="filter.name">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Category</label>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="filter.category_type">
                                <mat-option value="0">All</mat-option>
                                <mat-option value="407">Beauty</mat-option>
                                <mat-option value="412">Fashion</mat-option>
                                <mat-option value="420">Food</mat-option>
                                <mat-option value="424">Life style</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Catalog </label>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="filter.category_id">
                                <mat-option value="null">All</mat-option>
                                <mat-optgroup label="Beauty" *ngIf="filter.category_type == 0 || filter.category_type == 407">
                                    <mat-option *ngFor="let category of beauty" value="{{category.code}}">
                                        {{category.code_nm}}
                                    </mat-option>
                                </mat-optgroup>
                                <mat-optgroup label="Fashion" *ngIf="filter.category_type == 0 ||filter.category_type == 412">
                                    <mat-option *ngFor="let item of fashion" value="{{item.code}}">
                                        {{item.code_nm}}
                                    </mat-option>
                                </mat-optgroup>
                                <mat-optgroup label="Food" *ngIf="filter.category_type == 0 || filter.category_type == 420">
                                    <mat-option *ngFor="let item of food" value="{{item.code}}">
                                        {{item.code_nm}}
                                    </mat-option>
                                </mat-optgroup>
                                <mat-optgroup label="Life Style" *ngIf="filter.category_type == 0 || filter.category_type == 424">
                                    <mat-option *ngFor="let item of life_style" value="{{item.code}}">
                                        {{item.code_nm}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label>Display</label>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="filter.is_disabled">
                                <mat-option value="null">All</mat-option>
                                <mat-option value="Y">Active</mat-option>
                                <mat-option value="N">Inactive</mat-option>
                                <mat-option value="D">Deleted</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>


            <div class="col-2">
                <div class="form-group">
                    <label>Type</label>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="filter.type">
                                <mat-option value="null">All</mat-option>
                                <mat-option value="1">Popular</mat-option>
                                <mat-option value="0">Normal</mat-option>
                                <mat-option value="2">Report</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Period</label>
                    <div>
                        <mat-form-field class="half-width">
                            <input matInput [matDatepicker]="from" placeholder="From" [(ngModel)]="filter.from"
                                   [max]="filter.to">
                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                            <mat-datepicker #from></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="half-width">
                            <input matInput [matDatepicker]="to" placeholder="To" [(ngModel)]="filter.to"
                                   [min]="filter.from">
                            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                            <mat-datepicker #to></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Author</label>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="" [(ngModel)]="filter.reg_name">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Auto Enable Review</label>
                    <div>
                        <mat-slide-toggle color="#FF65B1" [(ngModel)]="auto_enable" (change)="onChange($event)"></mat-slide-toggle>
                        <a class="ml-3" href="javascript:void(0)" (click)="openForm()">{{enable_log.content}}</a>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-end" style="height: 36px;">
                <button class="btn btn-primary mr-1" (click)="onSearch()"><i class="material-icons align-text-bottom">
                    search
                </i> <span>Search</span></button>
                <button class="btn btn-default" (click)="onReset()"><i class="material-icons align-text-bottom">
                    replay
                </i> <span>Reset</span></button>
                <button class="btn btn-default ml-2" (click)="onDownload()"><i class="material-icons align-text-bottom">
                    save_alt
                </i> <span>Excel</span></button>
            </div>
        </div>
    </mat-card>
    <div class="multi-action" *ngIf="selected.length > 0">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-default mr-1" [swal]="disableSwal" *ngIf="showRestore" (confirm)="onRestoreMulti(false)">
                <i class="material-icons align-text-bottom">
                    restore_from_trash
                </i> <span> Restore</span>
            </button>
            <button class="btn btn-primary mr-1" [swal]="disableSwal" *ngIf="showDeactivate" (confirm)="onToggleMulti(false)">
                <i class="material-icons align-text-bottom">
                    visibility_off
                </i> <span> Disable</span>
            </button>
            <button class="btn btn-primary mr-1" [swal]="enableSwal" *ngIf="showActive" (confirm)="onToggleMulti(true)">
                <i class="material-icons align-text-bottom">
                    visibility
                </i> <span> Enable</span>
            </button>
            <button class="btn btn-default mr-1" [swal]="deleteSwal" *ngIf="showDelete" (confirm)="onDeleteMulti()">
                <i class="material-icons align-text-bottom">
                    delete
                </i> <span>Delete</span>
            </button>
            <button class="btn btn-primary mr-1" [swal]="normalSwal" *ngIf="showNormal" (confirm)="onTogglePopularMulti(false)">
                <i class="material-icons align-text-bottom">
                    thumb_down
                </i> <span> Normal</span>
            </button>
            <button class="btn btn-primary mr-1" [swal]="popularSwal" *ngIf="showPopular" (confirm)="onTogglePopularMulti(true)">
                <i class="material-icons align-text-bottom">
                    thumb_down
                </i> <span> Popular</span>
            </button>
        </div>
    </div>
    <ngx-datatable #myTable class="material" [rows]="reviews" [columnMode]="'force'" [headerHeight]="50" [rowClass]="getRowClass"
                   [footerHeight]="50"
                   [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (select)='onSelect($event)'
                   [selected]="selected"
                   [rowHeight]="'auto'" [count]="totalReviews" [limit]="pageSize"
                   [offset]="pageIndex-1"
                   [externalPaging]="true" (page)='setPage($event)' [externalSorting]="true" (sort)="onSort($event)">
        <ngx-datatable-column [frozenLeft]="true" [width]="50" [sortable]="false" [canAutoResize]="false"
                              [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true" [cellClass]="'text-center d-flex justify-content-center'"
                              [headerClass]="'text-center d-flex justify-content-center'">
        </ngx-datatable-column>
        <ngx-datatable-column name="ID" prop="review_no" [width]="70" [canAutoResize]="false" [resizeable]="false"></ngx-datatable-column >
        <ngx-datatable-column name="Thumbnail" prop="main_image" [canAutoResize]="false" [resizeable]="false" class="thumbnail-col">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="thumbnail-container">
                    <img class="review-thumbnail" src="https://via.placeholder.com/100" *ngIf="row.main_image.file_cours == 'null'"/>
                    <img class="review-thumbnail" [src]="env.rootHost + row.main_image.file_cours + '/' + row.main_image.stre_file_nm" *ngIf="row.main_image.type_file == 1"/>
                    <div class="zoom-thumbnail" *ngIf="row.main_image.type_file == 1">
                        <img class="review-thumbnail-zoom" [src]="row.main_image.file_cours?env.rootHost + row.main_image.file_cours + '/' + row.main_image.stre_file_nm:'https://via.placeholder.com/100'"/>
                    </div>
                    <video class="review-thumbnail" *ngIf="row.main_image.type_file == 2" controls>
                        <source [src]="env.rootHost + row.main_image.file_cours + '/' + row.main_image.stre_file_nm">
                    </video>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Title" prop="goods_nm">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span (click)="getReviewsDetail(row.slug)" style="cursor: pointer"> {{row.goods_nm}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Author" prop="reg_name"></ngx-datatable-column>
        <ngx-datatable-column name="Catalog" prop="code_nm" [width]="90" [canAutoResize]="false" [resizeable]="false" [headerClass]="'text-center'" [cellClass]="'text-center'"
        ></ngx-datatable-column>
        <ngx-datatable-column name="Comments" prop="comment_number" [headerClass]="'text-center'" [cellClass]="'text-center'" [width]="90" [canAutoResize]="false"
                              [resizeable]="false"></ngx-datatable-column>
        <ngx-datatable-column name="Likes" prop="like_number" [headerClass]="'text-center'" [cellClass]="'text-center'" [width]="70" [canAutoResize]="false" [resizeable]="false"
                              [sortable]="false"></ngx-datatable-column>

        <ngx-datatable-column name="Popular" prop="conts_seq" [headerClass]="'text-center'" [cellClass]="'text-center'" [width]="70" [canAutoResize]="false" [resizeable]="false"
                              [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.conts_seq ? "Yes" : "No" }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" prop="expsr_at" [width]="110" [canAutoResize]="false" [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.expsr_at == 'Y'">Enable</span>
                <span *ngIf="row.expsr_at == 'N'">
                    <span *ngIf="row.reason_disable" popover="{{row.reason_disable}}" placement="left">
                        Disabled
                    </span>
                    <span *ngIf="!row.reason_disable" >Disabled</span>
                    
                </span>
                <!-- <span *ngIf="row.expsr_at == 'N'">Disabled</span> -->
                <span *ngIf="row.expsr_at == 'P'">Pendding</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Category" prop="reviews_code_group" [canAutoResize]="false" [resizeable]="false" [width]="90">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.reviews_code_group == 407">Beauty</span>
                <span *ngIf="row.reviews_code_group == 412">Fashion</span>
                <span *ngIf="row.reviews_code_group == 420">Food</span>
                <span *ngIf="row.reviews_code_group == 424">Life style</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Views" prop="view_cnt" [resizeable]="false" [width]="70"></ngx-datatable-column>
        <ngx-datatable-column name="Deleted" prop="" [resizeable]="false" [width]="70">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.delete_at == 'N'">No</span>
                <span *ngIf="row.delete_at == 'Y'">Yes</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [sortable]="false" [maxWidth]="100" [headerClass]="'text-center'" [cellClass]="'text-center'">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button [matMenuTriggerFor]="userActions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #userActions="matMenu">
                    <a mat-menu-item [routerLink]="['/admin/reviews/edit', row.review_no]" class="datatable-action-button">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </a>
                    <a mat-menu-item [routerLink]="['/admin/comments/review', row.review_no]" class="datatable-action-button">
                        <mat-icon>mode_comment</mat-icon>
                        <span>Comments</span>
                    </a>
                    <a mat-menu-item [routerLink]="['/admin/review-rereport/', row.review_no]" class="datatable-action-button">
                        <mat-icon>report</mat-icon>
                        <span>Report</span>
                    </a>
                    <a mat-menu-item target="_blank" href="{{env.webUrl + '/reviews/detail/' + row.slug}}" class="datatable-action-button">
                        <mat-icon>open_in_new</mat-icon>
                        <span>View</span>
                    </a>

                    <button mat-menu-item [swal]="normalSwal"
                            *ngIf="row.conts_seq" (confirm)="onTogglePopular([row], false)" class="datatable-action-button">
                        <mat-icon>thumb_down</mat-icon>
                        <span>Normal</span>
                    </button>
                    <button mat-menu-item [swal]="popularSwal"
                            *ngIf="!row.conts_seq" (confirm)="onTogglePopular([row], true)" class="datatable-action-button">
                        <mat-icon>thumb_up</mat-icon>
                        <span>Popular</span>
                    </button>

                    <button mat-menu-item [swal]="mergeDialogSwal"
                            *ngIf="row.expsr_at !== 'N'" (confirm)="onToggle([row], false)" class="datatable-action-button">
                        <mat-icon>visibility_off</mat-icon>
                        <span>Disable</span>
                    </button>
                    <button mat-menu-item [swal]="enableSwal"
                            *ngIf="row.expsr_at !== 'Y'" (confirm)="onToggle([row], true)" class="datatable-action-button">
                        <mat-icon>visibility</mat-icon>
                        <span>Enable</span>
                    </button>
                    <button *ngIf="row.delete_at== 'N'" mat-menu-item [swal]="deleteSwal" (confirm)="onDelete([row])" class="datatable-action-button">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                    <button *ngIf="row.delete_at== 'Y'" mat-menu-item [swal]="restoreSwal" (confirm)="onRestore([row])" class="datatable-action-button">
                        <mat-icon>restore_from_trash</mat-icon>
                        <span>Restore</span>
                    </button>
                </mat-menu>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<div id="myForm" class="modal">
    <div class="row modal-content">
        <ngx-datatable #myTable2 class="material col-md-12" [rows]="logs" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'" [count]="totallogs" [limit]="pageSizeLog"
                    [offset]="pageIndexLog-1"
                    [externalPaging]="true" (page)='setPageLog($event)' [externalSorting]="true" (sort)="onSortLog($event)">
            <ngx-datatable-column name="ID" [sortable]="false" prop="id" [width]="80" [canAutoResize]="false" [resizeable]="false" >
            </ngx-datatable-column>
            <ngx-datatable-column name="Content" [sortable]="false" [width]="800" prop="content" [canAutoResize]="false" [resizeable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span> {{row.content}}</span >
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable> 
        <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
    </div>
</div>

<swal #deleteSwal text="Are you sure to delete this review?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
<swal #restoreSwal text="Are you sure to restore this review?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
<swal #enableSwal text="Are you sure to approve this review?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
<swal #mergeDialogSwal text="Are you sure to disapprove this review?" [inputValidator]="mergeDialogValidator()" input="textarea" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
<swal #disableSwal text="Are you sure to disapprove this review?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
<swal #popularSwal text="Are you sure to popular this review?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
<swal #normalSwal text="Are you sure to normalize this review?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
