<div class="category-dialog">
    <div class="row">
        <div class="col-12">
            <div class="admin-heading" *ngIf="!category.code">Add Catalog</div>
            <div class="admin-heading" *ngIf="category.code">Edit Catalog</div>
        </div>
    </div>
    <form [formGroup]="form" novalidate class="review-form">
        <div class="category-container">
            <div class="category-content">
                <div class="form-group">
                    <label>
                        <span>Catalog Name</span>
                        <input type="text" placeholder="Enter Catalog name" class="form-control"
                               [(ngModel)]="category.code_nm"
                               formControlName="name"/>
                    </label>
                    <div *ngIf="
                            form.controls.name.invalid &&
                            (form.controls.name.dirty ||
                                form.controls.name.touched)
                        "
                         class="text-danger">
                        <div *ngIf="form.controls.name.errors.required">
                            Please enter Catalog name
                        </div>
                    </div>
                </div>
                        <!-- <div class="form-group">
                            <div>
                                <mat-radio-group  [(ngModel)]="category.code_group" formControlName="code_group">
                                    <mat-radio-button value="407">Beauty</mat-radio-button>
                                    <mat-radio-button value="412">Fashion</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="output_text_type == '2'">
                            <input type="text" class="form-control" placeholder="Enter output text" [(ngModel)]="try.goods_txt" name="url" formControlName="goods_txt"/>
                        </div> -->
                        <div class="form-group" *ngIf="!category.code">
                            <div>
                                <span class="pointer">Category: </span>
                                <mat-form-field class="full-width">
                                    <mat-select [(ngModel)]="category.code_group" formControlName="code_group">
                                        <mat-option *ngFor="let item of categories" value="{{item.code_group}}">{{item.code_group_eng_nm}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                <div class="form-group img pointer">
                    <div class="active">
                        <label >
                            <span class="pointer">Active Icon: </span>
                            <input id="file-input" class="select-img" type="file" (change)="fileChangeEvent($event, 1)"
                                   accept=".png, .jpg, .jpeg, .gif">

                            <div class="icon" *ngIf="activeImages != ''; else activeImagesTemp">
                                <img [src]="env.rootHost + activeImages">
                            </div>
                            <ng-template  class="pointer" #activeImagesTemp>
                                <div class="icon">
                                    <label  for="file-input" class="select-file">
                                        <i class="material-icons align-text-bottom select-icon">
                                            cloud_upload
                                        </i> <span class="select-text" >Select</span>
                                    </label>
                                </div>
                            </ng-template>
                        </label>

                    </div>
                    <div class="inactive">
                        <label>
                            <span class="pointer">Inactive Icon: </span>
                            <input id="file-input1" class="select-img" type="file" (change)="fileChangeEvent($event, 0)"
                                   accept=".png, .jpg, .jpeg, .gif">
                            <div class="icon" *ngIf="inactiveImages != ''; else inactiveImagesTemp">
                                <img [src]="env.rootHost + inactiveImages">
                            </div>
                            <ng-template  class="pointer" #inactiveImagesTemp>
                                <div class="icon">
                                    <label  for="file-input1" class="select-file">
                                        <i class="material-icons align-text-bottom select-icon">
                                            cloud_upload
                                        </i> <span class="select-text" >Select</span>
                                    </label>
                                </div>
                            </ng-template>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-actions">
            <button class="btn btn-default mr-1" (click)="close()" >
                <i class="material-icons align-text-bottom">
                    cancel
                </i> <span> {{ "cancel" | translate }}</span>
            </button>
            <button class="btn btn-primary mr-1" (click)="onSave()">
                <i class="material-icons align-text-bottom">
                    save
                </i> <span> {{ "save" | translate }}</span>
            </button>
        </div>
    </form>
</div>
